<div class="row">
    <div class="col-sm-9">
      <div class="pro-content-box">
        <div>
          <div class="row latest-row">
            <div class="col-lg-8 col-md-8">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="thumbnail" style="height: auto; overflow: hidden;"> <a href="agile-testing"><%= image_tag('demoimg1.png', border: '0', alt: 'System Testing') %></a>
                    <div class="caption"><a href="agile-testing">Agile Testing</a> </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="thumbnail"> <a href="system-testing"><%= image_tag('system-testing.jpg', border: '0', alt: 'System Testing') %></a>
                    <div class="caption"> <a href="system-testing">System Testing</a> </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="thumbnail"> <a href="static-testing"><%= image_tag('static-testing.jpg', border: '0', alt: 'Static Testing') %></a>
                    <div class="caption"> <a href="static-testing">Static Testing</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="thumbnail"> <a href="smoke-testing"><%= image_tag('smoke-testing.jpg', border: '0', alt: 'Smoke Testing') %></a>
                    <div class="caption"> <a href="smoke-testing">Smoke Testing</a> </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="thumbnail"> <a href="sanity-testing"><%= image_tag('demoimg.png', border: '0', alt: 'Sanity Testing') %></a>
                    <div class="caption"> <a href="sanity-testing">Sanity Testing</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="second-items">
        <h2>Trending Post</h2>
          <div class="media">
            <div class="media-left media-middle"><a href="software-development-life-cycle"><%= image_tag('sdlc.png', border: '0', alt: 'Software development life cycle Testing', class: 'media-object') %></a></div>
            <div class="media-body">
              <h2 class="media-heading"><a href="software-development-life-cycle">Software Development Life Cycle</a></h2>
              <p>Abbreviated as SDLC, software development life cycle refers to whole process of software development. It defines and describes, each and every phase that contributed towards the development of the software. It is a standard practice that empowers organizations to follow systematic...</p>
            </div>
          </div>
          <hr>
          <div class="media">
            <div class="media-left media-middle"><a href="software-testing"><%= image_tag('software-testing.png', border: '0', alt: 'Software development life cycle Testing', class: 'media-object') %></a> </div>
            <div class="media-body">
              <h2 class="media-heading"><a href="software-testing">Software testing</a></h2>
              <p>Software testing is the process of evaluating the software product, in order to assess the level of the quality. Generally, it is the methodology, to verify and validate the software product, against the functional and business requirements that were decided and specified, prior to the software development process.</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!-- /.blog-post --> 
    </div>
    <!-- /.blog-main -->
    <div class="col-sm-3">
    	<div class="alert alert-info subscribe-box">
            <h3>Subscribe Pro QA</h3>
            <div class="input-group"><input type="text" id="subscribe-input" class="form-control" placeholder="Enter your email"><span class="input-group-btn"><button id="subscribe-button" class="btn btn-primary" type="button">Submit <span class="collapse subscribe-spin glyphicon glyphicon-refresh glyphicon-spin"></span></button></span> </div>
        </div>
        <hr>
        <div class="only-for-tweets"><div class="sidebar-module">
                <ol class="list-unstyled list-group">
                    <li class="list-group-item"><a href="reliability-testing" title="Reliability Testing ">Reliability Testing </a></li>
                    <li class="list-group-item"><a href="loop-testing" title="Loop Testing">Loop Testing</a></li>
                    <li class="list-group-item"><a href="manual-testing" title="Manual Testing">Manual Testing</a></li>
                    <li class="list-group-item"><a href="protocol-testing" title="Protocol Testing">Protocol Testing</a></li>
                    <li class="list-group-item"><a href="test-basis" title="Test Basis">Test Basis</a></li>
                    <li class="list-group-item"><a href="component-testing" title="Component Testing">Component Testing</a></li>
                    <li class="list-group-item"><a href="test-scenario" title="Test Scenario">Test Scenario</a></li>
                    <li class="list-group-item"><a href="test-suite" title="Test Suite">Test Suite</a></li>
                    <li class="list-group-item"><a href="monkey-testing" title="Monkey Testing">Monkey Testing</a></li>
                    <li class="list-group-item"><a href="mobile-app-testing" title="Mobile App Testing">Mobile App Testing</a></li>
                    <li class="list-group-item"><a href="content-testing" title="Content Testing">Content Testing</a></li>
                    <li class="list-group-item"><a href="non-functional-testing" title="Non-functional testing">Non-functional testing</a></li>
                    <li class="list-group-item"><a href="stress-testing" title="Stress Sesting">Stress Testing</a></li>
                </ol>
              </div> 
        </div>
        <hr>
    
    </div>
    <!-- /.blog-sidebar --> 
  </div>