<h1>Listing Posts</h1>

<div class="table-responsive">
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th>Title</th>
      <th width="20%">Short Description</th>
      <th>User</th>
      <th>Date</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    
    <% @posts.each do |post| %>
      
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.shortdescription %></td>
        <td><% if user_signed_in? %> <%= post.user.email %> <% end %></td>
        <td><%= post.date %></td>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
