<% headtitle @post.title %>
<% meta_keywords @post.keywords %>
<% meta_description @post.metadescription %>

<div class="col-sm-9">
  <div class="pro-content-box">
    <h1><%= @post.title %></h1>
    <p class="blog-post-meta"><%= @post.date.strftime("%B") %> <%= @post.date.day %>, <%= @post.date.year %> <br />
    <div class="addthis_native_toolbox"></div>
    <hr>
    <div class="fb-share-button" data-href="https://www.facebook.com/ThinkSysInc/" data-layout="button_count"></div>      
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
    </p>
    <div>
    	<%= simple_format(@post.body) %>
    </div>
  </div>      
  <% if user_signed_in? %>
  <div>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
  <% end %>
</div>

<!--right side bar section -->   
<div class="col-sm-3">
	<div class="alert alert-info subscribe-box">
  <h3>Subscribe Pro QA</h3>
    <%= form_for([@post, Subscriber.build) do |f| %>
      <% if @subscriber.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

        <ul>
        <% @subscriber.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="input-group">
        <%= f.text_field :subemail, class: "form-control", placeholder: "Enter your email" %>
        <span class="input-group-btn"><%= f.submit 'Submit', class: 'btn btn-primary'  %></span>
      </div>
    <% end %>    
</div>

  <hr>
  <% @posts.each do |post| %>
    <li class="list-group-item"><a href="stress-testing" title="Stress Sesting"><%=link_to post.title, post %></li>
  <% end %>
</div>

