<div class="col-sm-9">
  <div class="pro-content-box">
    <h1><%= @post.title %></h1>
    <p class="blog-post-meta"><%= @post.date %> <br />
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
		<div class="addthis_native_toolbox"></div>
        <hr>
    </p>
    <div>
    	<%= simple_format(@post.body) %>
    </div>

  </div>      
</div>

<!--right side bar section -->   
<div class="col-sm-3">
	<%= render 'shared/right_sidebar' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
